{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <h1>Notes</h1>
    {% for note in notes %}
        <p>{{ note.title }}</p>
        <p>{{ note.text }}</p>
        <p>{{ note.likes }}</p>
        <a href="{% url 'notes-detail' note.pk %}">See detail</a>
        <hr>
    {% endfor %}
    <script src={% static 'sctipt.js'  %} ></script>

</body>
</html>