{% load static %}
<html>
    <head>
        <link rel="stylesheet" href="{% static 'style.css' %}" >
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <title>Bootstrap demo</title>
        <style>
            body{
                font-family: "Nunito", sans-serif;
                font-optical-sizing: auto;
            }

        </style>
    </head>
    <body class="bg-gray-50 min-h-screen">
        <header class="bg-white shadow-md">
            <div class="max-w-[1200px] m-auto flex items-center justify-between px-6 py-4">
                <a href="{% url 'welcome' %}" class="text-2xl font-bold text-blue-600">📝 УмныйNotes</a>
                <nav class="flex gap-6">
                    <a href="{% url 'notes-list' %}" class="text-gray-600 hover:text-blue-500 transition-colors font-medium">📋 Notes</a>
                    <a href="{% url 'popular-notes' %}" class="text-gray-600 hover:text-red-500 transition-colors font-medium">🔥 Popular</a>
                </nav>
                {% if user.is_authenticated %}
                    <form method="post" action="{% url 'logout' %}">
                        {% csrf_token %}
                        <button type="submit">Log out</button>
                    </form>
                {% else %}
                    <div class="flex gap-4">
                    <a href="{% url 'login' %}" class="text-gray-600 hover:text-blue-500 transition-colors">Log in</a>
                    <a href="" class="bg-blue-500 text-white px-4 py-2 rounded-lg hover:bg-blue-600 transition-colors">Sign up</a>
                </div>
                {% endif %}
            </div>
        </header>

        <main>
            {% block content %}

            {% endblock content %}
        </main>

            {% block js %}

            {% endblock js %}
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    </body>
</html>
